<h1>Add your artist !</h1>

<form method="post" action="/" class="form">
    <label for="name">Name</label>
    <input class="input" type="text" id="name" name="name" value="test">
    <label for="isBand?">Is this a band ?</label>
    <input id="isBand?" class="input" type="checkbox" name="isBand?">
    <label for="description">Description</label>
    <input id="description" class="input" type="text" name="description">
    <label for="picture" class="label">Picture</label>
    <input type="file" name="picture" id="picture" />
    <button class="btn">ok !</button>
</form>