<h1>Add your label !</h1>

<form method="post" action="/" class="form">
    <label for="name">Name</label>
    <input class="input" type="text" id="name" name="name" value="test">
    <label for="city">city</label>
    <input class="input" type="text" id="city" name="city" value="test">
    <label for="country">Country</label>
    <input class="input" type="text" id="country" name="country" value="test">
    <label for="street">Street</label>
    <input id="street" class="input" type="text" name="street">
    <label for="streetNumber">Street number</label>
    <input id="streetNumber" class="input" type="number" name="streetNumber">
    <label for="zipcode">Zipcode</label>
    <input id="zipcode" class="input" type="text" name="zipcode">
    <label for="logo" class="label">Logo</label>
    <input type="file" name="logo" id="logo" />
    <button class="btn">ok !</button>
</form>