<h1>Add your style !</h1>

<form method="post" action="/" class="form">
    <label for="name">Name</label>
    <input class="input" type="text" id="name" name="name" value="test">
    <label for="color">Color</label>
    <input class="input" type="text" id="color" name="color" value="test">
    <label for="wikiURL">Wikipedia URL</label>
    <input class="input" type="text" id="wikiURL" name="wikiURL" value="test">
    <button class="btn">ok !</button>
</form>